USE [QLCuaHangSach]
GO
/****** Object:  User [85thanhlam]    Script Date: 11/15/2021 8:41:18 AM ******/
CREATE USER [85thanhlam] FOR LOGIN [85thanhlam] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [85thanhlam]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 11/15/2021 8:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [varchar](10) NOT NULL,
	[Tongtien] [float] NOT NULL,
	[Ngaymua] [date] NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangChiTiet]    Script Date: 11/15/2021 8:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangChiTiet](
	[MaDH] [varchar](10) NOT NULL,
	[MaS] [int] NOT NULL,
	[Soluong] [int] NOT NULL,
	[Sotien] [float] NOT NULL,
	[Ghichu] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSach]    Script Date: 11/15/2021 8:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSach](
	[MaLS] [varchar](10) NOT NULL,
	[TenLS] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/15/2021 8:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[Matkhau] [varchar](50) NOT NULL,
	[Hoten] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NULL,
	[Vaitro] [bit] NOT NULL,
	[Hinh] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 11/15/2021 8:41:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaS] [int] IDENTITY(1,1) NOT NULL,
	[MaLS] [varchar](10) NOT NULL,
	[TenS] [nvarchar](300) NOT NULL,
	[Tacgia] [nvarchar](150) NOT NULL,
	[NXB] [nvarchar](100) NOT NULL,
	[NSX] [date] NOT NULL,
	[Sotrang] [int] NOT NULL,
	[Soluong] [int] NOT NULL,
	[Gianhap] [float] NOT NULL,
	[Giaban] [float] NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[Hinh] [nvarchar](1000) NULL,
	[Mota] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoaiSach] ([MaLS], [TenLS]) VALUES (N'CK', N'CHỨNG KHOÁN - BẤT ĐỘNG SẢN - ĐẦU TƯ')
INSERT [dbo].[LoaiSach] ([MaLS], [TenLS]) VALUES (N'CNLC', N'CẨM NANG LÀM CHA MẸ')
INSERT [dbo].[LoaiSach] ([MaLS], [TenLS]) VALUES (N'CSHG', N'Chicken Soup - Hạt Giống Tâm Hồn')
GO
INSERT [dbo].[NhanVien] ([MaNV], [Matkhau], [Hoten], [SDT], [Vaitro], [Hinh]) VALUES (N'NV01', N'123', N'Lê Hải Lâm', N'0342090370', 0, N'c9ad9d6c2c9b842a4a4fab06624be333.jpg')
INSERT [dbo].[NhanVien] ([MaNV], [Matkhau], [Hoten], [SDT], [Vaitro], [Hinh]) VALUES (N'NV02', N'admin', N'Nguyễn Trần Thiên Hậu', N'0374073186', 1, N'studio-quoc-khai-318820.jpg')
INSERT [dbo].[NhanVien] ([MaNV], [Matkhau], [Hoten], [SDT], [Vaitro], [Hinh]) VALUES (N'NV03', N'123', N'Trần Hữu Nhân', N'0975771230', 0, N'2-249.jpg')
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaS], [MaLS], [TenS], [Tacgia], [NXB], [NSX], [Sotrang], [Soluong], [Gianhap], [Giaban], [MaNV], [Hinh], [Mota]) VALUES (1, N'CK', N'Nhà Đầu Tư Thông Minh', N'Benjamin Graham', N'NXB Thế Giới', CAST(N'2011-03-11' AS Date), 644, 15, 169000, 199000, N'NV02', N'image_195509_1_44030.jpg', N'Tác Phẩm Kinh Điển Về Tư Vấn Đầu Tư')
INSERT [dbo].[Sach] ([MaS], [MaLS], [TenS], [Tacgia], [NXB], [NSX], [Sotrang], [Soluong], [Gianhap], [Giaban], [MaNV], [Hinh], [Mota]) VALUES (2, N'MKBH', N'Người Bán Hàng Vĩ Đại Nhất Thế Giới', N'Og Mandino', N'NXB Tổng Hợp TPHCM', CAST(N'2011-07-11' AS Date), 296, 10, 118000, 148000, N'NV08', N'image_195509_1_47973.jpg', N'"Người Bán Hàng Vĩ Đại Nhất Thế Giới" kể về câu chuyện của Hafid, một cậu bé chăn lạc đà nghèo, ở Jerusalem thời cổ đại.')
INSERT [dbo].[Sach] ([MaS], [MaLS], [TenS], [Tacgia], [NXB], [NSX], [Sotrang], [Soluong], [Gianhap], [Giaban], [MaNV], [Hinh], [Mota]) VALUES (3, N'KTKT', N'Nguyên Lý Kế Toán', N'Nhiều Tác Giả', N'NXB Đại Học Kinh Tế Quốc Dân', CAST(N'2011-01-01' AS Date), 319, 13, 111000, 128000, N'NV09', N'image_233300.jpg', N'Dành cho các ngành kế toán, kiểm toán, ngân hàng, tài chính, kinh tế và quản trị kinh doanh.')
GO
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD FOREIGN KEY([MaS])
REFERENCES [dbo].[Sach] ([MaS])
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([MaLS])
REFERENCES [dbo].[LoaiSach] ([MaLS])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD CHECK  (([Tongtien]>=(0)))
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD CHECK  (([Soluong]>=(0) AND [Sotien]>=(0)))
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([Soluong]>=(0) AND [Sotrang]>(0) AND [Gianhap]>=(0) AND [Giaban]>=(0)))
GO
